.me {
    width: 25rem;
    height: 25rem;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    object-fit: cover;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    border: 8px solid rgb(200, 161, 247);
}

.me:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}